# This file describes the network interfaces available on your system
# For more information, see netplan(5).
---
network:
  version: {{ network_version }}
  renderer: {{ network_renderer }}

  bonds:
    {{ network_bonds|to_nice_yaml(indent=4)|indent(4) }}

  bridges:
    {{ network_bridges|to_nice_yaml(indent=4)|indent(4) }}

  ethernets:
    {{ network_ethernets|to_nice_yaml(indent=4)|indent(4) }}

  tunnels:
    {{ network_tunnels|to_nice_yaml(indent=4)|indent(4) }}

  vlans:
    {{ network_vlans|to_nice_yaml(indent=4)|indent(4) }}

  vrfs:
    {{ network_vrfs|to_nice_yaml(indent=4)|indent(4) }}
