{% if not repository_apt_phased_updates | bool %}
Update-Manager::Never-Include-Phased-Updates;
{% endif %}
{% if repository_apt_acquire_forceipv4 | bool %}
Acquire::ForceIPv4 "true";
{% endif %}
{% if not repository_apt_install_recommends | bool %}
APT::Install-Recommends "0";
{% endif %}
{% if not repository_apt_install_suggests | bool %}
APT::Install-Suggests "0";
{% endif %}
