{% if user_sudoers_type == "group" %}
%{{ item.primary_group | default(user_primary_group | default(item.name)) }} {{ item.sudoers | default(user_sudoers) }}
{% elif user_sudoers_type == "user" %}
{{ item.name }} {{ item.sudoers | default(user_sudoers) }}
{% endif %}
