---
- name: Update package cache
  become: true
  ansible.builtin.dnf:
    name: '*'
    update_cache: true
    state: latest

- name: Upgrade packages
  become: true
  ansible.builtin.dnf:
    name: '*'
    state: latest
  when: upgrade_packages | bool

- name: Install required packages
  become: true
  ansible.builtin.dnf:
    name: "{{ required_packages }}"
    state: present
