---
- name: Wait for apt lock
  shell: while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done

- name: Install apt-transport-https package
  become: true
  apt:
    name: apt-transport-https
    state: present
  when: trivy_configure_repository|bool
  changed_when: false

- name: Add repository gpg key
  become: true
  apt_key:
    url: "{{ trivy_debian_repository_key }}"
  when: trivy_configure_repository|bool

- name: Add repository
  become: true
  apt_repository:
    repo: "{{ trivy_debian_repository }}"
    state: present
    filename: trivy
    update_cache: true
    mode: 0600
  when: trivy_configure_repository|bool

- name: Wait for apt lock
  shell: while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done

- name: Install trivy package
  become: true
  apt:
    name: "{{ trivy_package_name }}"
    state: present
