---
- name: Remove old architecture-dependent repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [ arch=amd64 ] https://aquasecurity.github.io/trivy-repo/deb {{ ansible_distribution_release }} main"
    state: absent
    filename: trivy
  when: trivy_configure_repository|bool

- name: Install apt-transport-https package
  become: true
  ansible.builtin.apt:
    name: apt-transport-https
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"
  when: trivy_configure_repository | bool
  changed_when: false

- name: Add repository gpg key with apt-key
  become: true
  ansible.builtin.apt_key:
    url: "{{ trivy_debian_repository_key }}"
  when:
    - trivy_configure_repository | bool
    - ansible_distribution == "Ubuntu"
    - ansible_distribution_version is version('22.04', '<')

- name: Add repository gpg key
  become: true
  ansible.builtin.get_url:
    url: "{{ trivy_debian_repository_key }}"
    dest: /etc/apt/trusted.gpg.d/trivy.asc
    mode: 0644
    owner: root
    group: root
  when:
    - trivy_configure_repository | bool
    - ansible_distribution == "Ubuntu" or ansible_distribution == "Debian"
    - ansible_distribution_version is version('22.04', '>=') or ansible_distribution_version is version('12', '>=')

- name: Add repository
  become: true
  ansible.builtin.apt_repository:
    repo: "{{ trivy_debian_repository }}"
    state: present
    filename: trivy
    update_cache: true
    mode: 0600
  when: trivy_configure_repository | bool

- name: Install trivy package
  become: true
  ansible.builtin.apt:
    name: "{{ trivy_package_name }}"
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"
