---
- name: git - set configuration_git_repository_url fact (with username)
  set_fact:
    configuration_git_repository_url: "{{ configuration_git_protocol }}://{{ configuration_git_username }}@{{ configuration_git_host }}:{{ configuration_git_port }}/{{ configuration_git_repository }}"  # noqa 204
  when: configuration_git_username is defined and configuration_git_username|length

- name: git - set configuration_git_repository_url fact (without username)
  set_fact:
    configuration_git_repository_url: "{{ configuration_git_protocol }}://{{ configuration_git_host }}:{{ configuration_git_port }}/{{ configuration_git_repository }}"  # noqa 204
  when: configuration_git_username is not defined or not configuration_git_username|length

- name: git - copy private ssh key
  copy:
    content: "{{ configuration_git_private_key }}"
    dest: "{{ configuration_git_private_key_file }}"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0600
  when: (configuration_git_protocol == 'ssh' and configuration_git_private_key is defined and configuration_git_private_key|length)
  no_log: true

- name: Wait for apt lock
  shell: "while fuser /var/lib/dpkg/{{ item }} >/dev/null 2>&1; do sleep 5; done;"
  loop:
    - lock
    - lock-frontend
  changed_when: false

- name: git - install required packages
  become: true
  apt:
    name: "{{ configuration_git_package_name }}"
    state: present

- name: git - set proxy configuration
  community.general.git_config:
    name: http.proxy
    scope: global
    value: "{{ configuration_git_proxy }}"
  when: configuration_git_proxy is defined and configuration_git_proxy|length

- name: git - clone configuration repository (ssh / with auth)
  git:
    repo: "{{ configuration_git_repository_url }}"
    dest: "{{ configuration_directory }}"
    version: "{{ configuration_git_version }}"
    key_file: "{{ configuration_git_private_key_file }}"
    accept_hostkey: true
    force: true
  when: configuration_git_protocol == 'ssh'

- name: git - clone configuration repository (without auth)
  git:
    repo: "{{ configuration_git_repository_url }}"
    dest: "{{ configuration_directory }}"
    version: "{{ configuration_git_version }}"
    accept_hostkey: true
    force: true
  when: (configuration_git_protocol == 'ssh' and (configuration_git_private_key is not defined or not configuration_git_private_key|length)) or
        configuration_git_protocol != 'ssh'
