---
- name: Copy private ssh key for netbox submodule
  ansible.builtin.template:
    src: config-git-netbox-private-key.j2
    dest: "{{ configuration_git_private_key_file_netbox }}"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0600
  vars:
    configuration_git_private_key: "{{ configuration_git_private_key_netbox }}"
  when:
    - configuration_git_private_key_netbox is defined
    - configuration_git_private_key_netbox | length > 0
  no_log: "{{ configuration_no_log }}"

- name: Update netbox submodule
  ansible.builtin.shell: |
    cd "{{ configuration_directory }}"
    git submodule update --init --recursive netbox/
  environment:
    GIT_SSH_COMMAND: "ssh -i {{ configuration_git_private_key_file_netbox }} -o StrictHostKeyChecking=no"
  changed_when: true
  when:
    - configuration_git_private_key_netbox is defined
    - configuration_git_private_key_netbox | length > 0
