---
- name: Include distribution specific configure tasks
  ansible.builtin.include_tasks: "configure-{{ ansible_os_family }}-family.yml"

- name: Copy motd file
  become: true
  ansible.builtin.template:
    src: motd.j2
    dest: "{{ motd_path }}"
    owner: root
    group: root
    mode: 0644

- name: Copy issue file
  become: true
  ansible.builtin.template:
    src: motd.j2
    dest: "{{ issue_path }}"
    owner: root
    group: root
    mode: 0644
