---
- name: Wait for apt lock
  shell: "while fuser /var/lib/dpkg/{{ item }} >/dev/null 2>&1; do sleep 5; done;"
  loop:
    - lock
    - lock-frontend

- name: Install ipmitool package
  become: true
  apt:
    name: "{{ ipmitool_package_name }}"
    state: present
