---
proxy_proxies:
  http: http://proxy.tld:8080
  # https: http://proxy.tld:8080
  # ftp: http://proxy.tld:8080

proxy_no_proxy_default:
  - 127.0.0.1
  - localhost
proxy_no_proxy_extra: []
proxy_no_proxy: "{{ proxy_no_proxy_default + proxy_no_proxy_extra }}"

proxy_package_manager: true
proxy_apt_conf_path: /etc/apt/apt.conf.d/01proxy
