---
- name: Gather variables for each operating system
  include_vars: "{{ ansible_os_family }}.yml"

- name: Include distribution specific repository tasks
  include_tasks: "repository-{{ ansible_os_family }}.yml"
