---
- name: Install apt-transport-https package
  become: true
  apt:
    name: apt-transport-https
    state: present
  when: sysdig_configure_repository|bool

- name: Add repository gpg key
  become: true
  apt_key:
    url: "{{ sysdig_debian_repository_key }}"
  when: sysdig_configure_repository|bool

- name: Add repository
  become: true
  apt_repository:
    repo: "{{ sysdig_debian_repository }}"
    state: present
    filename: sysdig
    update_cache: yes
    mode: 0600
  when: sysdig_configure_repository|bool

- name: Check if /var/run/reboot-required exist
  stat:
    path: /var/run/reboot-required
  register: result

- name: Print message if /var/run/reboot-required exist
  debug:
    msg: "Reboot of {{ inventory_hostname }} required to get the latest kernel running"
  when: result.stat.islnk is defined

- name: Install sysdig package
  become: true
  apt:
    name: "{{ sysdig_package_name }}"
    state: present

- name: Persist sysdig_probe kernel module via modules-load.d
  become: true
  copy:
    content: sysdig_probe
    dest: /etc/modules-load.d/sysdig.conf
    owner: root
    group: root
    mode: 0644

- name: Load sysdig_probe kernel module
  become: true
  modprobe:
    name: sysdig_probe
    state: present
