---
- name: Gather variables for each operating system
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Copy CA certificates
  become: true
  ansible.builtin.template:
    src: certificates.j2
    dest: "{{ certificates_ca_path }}/{{ item.name }}"
    owner: root
    group: root
    mode: 0644
  loop: "{{ certificates_ca }}"
  notify: Update CA certificates
