{% set docker_compose_dir = '/usr/local/bin/' if docker_compose_install_type in ['file', 'url'] else '/usr/bin/' %}
[Unit]
Description=%i service managed by Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/%i
ExecStartPre={{ docker_compose_dir }}/docker-compose pull
ExecStart={{ docker_compose_dir }}/docker-compose up -d --remove-orphans
ExecStop={{ docker_compose_dir }}/docker-compose down

[Install]
WantedBy=multi-user.target
