[Unit]
Description=%i service managed by Docker Compose
PartOf=osism.target
Requires=docker.service
After=docker.service

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/opt/%i
User={{ docker_compose_service_user }}
Group={{ docker_compose_service_group }}
{% if docker_compose_pull | bool %}
ExecStartPre=/usr/bin/docker compose pull
{% endif %}
ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=osism.target
