# {{ ansible_managed }}

[Unit]
Description=Network Extra Init
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/network-extra-init
Type=oneshot
RemainAfterExit=yes
TimeoutSec=30

[Install]
WantedBy=multi-user.target
