[Match]
Name={{ item.key }}

[Network]
IPv6AcceptRA=no
{% if 'addresses' in item.value -%}
{%  for address in item.value.addresses %}
Address={{ address }}
{% endfor %}
{% endif %}
{% for dest in item.value.dests %}

[BridgeFDB]
MACAddress=00:00:00:00:00:00
Destination={{ dest }}
{% endfor %}
