[NetDev]
Name={{ item.key }}
Kind=vxlan
MTUBytes=1500

[VXLAN]
VNI={{ item.value.vni }}
Local={{ item.value.local_ip }}
MacLearning=true
DestinationPort=4789
Independent=yes
Group={{ item.value.group | default('239.1.1.1') }}
