---
- name: This install type is not supported
  ansible.builtin.fail:
    msg: "The install type {{ docker_compose_install_type }} is no longer supported. Use package."
  when: docker_compose_install_type != "package"

- name: This family is not supported
  ansible.builtin.fail:
    msg: "This family, {{ ansible_os_family }}, is not supported yet."
  when: ansible_os_family != "Debian"

- name: Include install type specific tasks
  ansible.builtin.include_tasks: install.yml

- name: Copy docker-compose systemd unit file
  become: true
  ansible.builtin.template:
    src: docker-compose.service.j2
    dest: "/etc/systemd/system/docker-compose@.service"
    mode: 0644
    owner: root
    group: root
  notify: Reload systemd daemon
