---
##########################
# generic

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# generic

# possible values: git
configuration_type: git

##########################
# directories

configuration_directory: /opt/configuration

##########################
# parameters for configuration type "git"

configuration_git_package_name: git

configuration_git_proxy: ""

configuration_git_public_key: ""
configuration_git_private_key: ""
configuration_git_private_key_file: ~/.ssh/id_rsa.configuration
configuration_git_version: main
configuration_git_host: github.com
configuration_git_port: 22
configuration_git_repository: osism/ansible-collection-commons.git
configuration_git_protocol: ssh

# NOTE: When using a PAT, the username is used for this purpose.
configuration_git_username: git
